{% extends 'home/signbase.html'%}
{%load static from staticfiles %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-xs-1"></div>
    <div class=" col-md-4 col-xs-10 seekersbox">
      <center><img class="img-responsive" style="width 150px; height:150px" src="{% static 'icons/paper-plane.svg' %}"></center>
      <center><h6 style="color:white;">Check your mail for activation key. If not found check Spam messages </h6></center>

    </div>
    <div class="col-md-4 col-xs-1"></div>    
  </div>

{% endblock %}