{% load static from staticfiles%}
<!DOCTYPE html>
<html>
<head>
    <title>Phodel</title>
    <meta charset="UTF-8">
  <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="icon" href=" {% static 'img/icons.png' %} ">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <script src="{% static 'jq/jquery.js' %}"></script> 
    <style type="text/css">
    button:focus,button:active {
   outline: none !important;
   box-shadow: none;
}
  </style>
</head>

<body style="background-image:url('/static/img/wall2.jpg'); opacity: 0.8; overflow-x:hidden;">
   <div class="container">
      <center>
          <a href="{% url 'Home:index' %}"><img src="{% static 'img/logo.jpeg' %}" style="width:200px; margin-top: 30px;"></a>
      </center>
    </div>
<center>

</center>

{% block content %}

{% endblock %}
</body>
{% block script %}

{% endblock%}
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</html> 