{% load static from staticfiles%}
<!DOCTYPE html>
<html>
<head>
    <title>Phodel</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <script src="{% static 'jq/jquery.js' %}"></script> 
{%block style%}

{%endblock%}  
</head>


<body >
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        {% if user.is_authenticated and user.is_model is True or user.is_company is True %}
        <a href="{% url 'Home:homeView' %}"><img src="{% static 'img/logo.jpeg' %}" style="width:100px; height:50px;"></a>
        {% else %}
        <a href="{% url 'Home:index' %}"><img src="{% static 'img/logo.jpeg' %}" style="width:100px; height:50px;"></a> 
        {%endif%}       
      </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      {% if user.is_authenticated and user.is_model is True %}
      {% elif user.is_authenticated and user.is_company is True %}
      <li><a href="{% if user.is_authenticated and user.is_company is True%}{% url 'Home:homeView'%}{%else%}{% url 'Home:login'%}{%endif%}">DASHBOARD</a></li>
      {%else%}
     <li><a href="{% url 'Home:login'%}">SEEKERS</a></li>      
      {% endif %}
      {% if user.is_authenticated and user.is_company is False and user.is_model is False %}
      <li><a href="{% url 'Home:preactivate'%}">Job Activate</a></li>
      {% endif %}
      {% if user.is_authenticated and user.is_model is True %}
      <li><a href="{% url 'Home:homeView'%}">DASHBOARD</a></li>
      {% endif%}

      {% if user.is_authenticated and user.is_model is True %}
      {% else %}
      <li><a href="{% if user.is_authenticated and user.is_model is True%}{% url 'Home:homeView'%}{%elif user.is_authenticated and user.is_company is True%}{% url 'Home:modl'%}{% else %}{% url 'Home:login'%}{%endif%}">MODELS</a></li>
      {% endif%}
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="">FAQ</a></li>      
    </ul>
    {% if  user.is_authenticated%}
    <center><div class="navbar-form navbar-right" style="margin-top:12px;">
            <a style="color:black;  border:2px dashed black; padding:10px; "
      href="{% url 'Home:logout' %}">Logout</a>
    </div>
    <form class="navbar-form  navbar-right">
      <p>Welcome <a href="{% url 'Home:profile' %}">{{user.username}}
       <!--{%if user.is_model is True%}<img style="width:38px; height:35px; border:3px dashed; border-radius:70%" src="{{pmod.model_image.url}}">{% endif%}--></a></p>
      </form></center>
           {% else %}
      <form class="navbar-right" style="margin-top:14px; margin-bottom:14px;">
           <center> <a style="color:black;  border:2px dashed black; padding:10px; "
      href="{% url 'Home:login'%}">Sign In</a></center></form>

    
    {% endif%}
  </div>
  </div>
</div> 
<div>
{% block content %}

{% endblock%}
</div>
  <div class="container-fluid " style="position:relative; bottom:0; width:100%;">
      <div class="row">
        <div class="col-md-12 lastrow">
            <div class="col-md-12">
              <div class="legality">
                 <center> Copyright © PHODEL LTD. 2018 - <a href="">Terms and condition</a>
                  <br>
                  <a href=""><img style="width:30px;" src="{% static 'img/instagram.svg' %}"></a>
                  <a href="https://web.facebook.com/phodelng/?ref=bookmarks"><img style="width:30px;" src="{% static 'img/facebook (1).svg' %}"></a>
                  <a href=""><img style="width:30px;" src="{% static 'img/twitter.svg' %}"></a>
              </center>
              </div>
            </div>
        </div>  
      </div>
    </div>
      <script>
        $('.carousel[data-type="multi"] .item').each(function() {
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  for (var i = 0; i < 2; i++) {
    next = next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }

    next.children(':first-child').clone().appendTo($(this));
  }
});
      </script>  
</body>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% block javascripts%}

{% endblock %}
</html>