{# {% extends 'base.html' %}


{% block head%}
	{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'news/style.css'%}">
	<title>Index</title>

{% endblock%}
	

{% block body%}
	
	<div class="container">
		<div class="header">
			<a href=""><h1>News</h1></a>
		</div>
		<h4>OLAMIDE OGUNKIE WEDS TEMIDIRE ADAMS</h4>
		<content>On this day, 20th of April 2021, it was conjugal bliss between two familes, that celebrates the union of their children 
		</content>
		<p>time_published: 1:30pm</p>
		<p>date_published: 2oth, April 2021.</p>
	</div>

{% endblock %}
 #}