{% extends 'home/signbase.html'%}
{%load static from staticfiles %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-xs-1"></div>
    <div class=" col-md-4 col-xs-10 seekersbox">
<h6 style="color:white;">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </h6>
  <h6 style="color:white;">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </h6>
</div>
<div class="col-md-4 col-xs-1"></div>
</div>
{% endblock %}