{% extends 'home/base.html'%}
{% load static from staticfiles%}
{% load crispy_forms_tags %}
{% block content %}
<div class="row"></div>
<div class="col-md-7">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                <div style="margin-top:50px;" class="col-md-12">
                        <div class="boxs">
                        <div class="singletab">
      <h3 style="color:#fff; font-family:ocraext; font-size: 30px; " >Previous post</h3>
                          </div></div>
                          <div class="boxs feature">
                            {% for jo in jobs%}
  <a href="{% url 'Home:applicate' pk=jo.pk %}" ><div class="tab-info">
      <h4>{{jo.Job_title}}</h4>
      <h4>{{jo.lga}}-{{jo.state}}</h4>
      <p>{{jo.personal_note}}</p>
      <p>No of Applicants: {{applied.applicant}}</p>
  </div></a>
                          {% endfor %}
                        </div>    
                </div>

        </div>
    </div>
</div>

        <div class="col-md-12">
                <div class="col-sm-12"><div class="container-fluid">
    <div class="row">

                        <div class="boxs">
                            <div class="singletab">
                                <h3 style="color:#fff; font-family:ocraext; font-size: 30px; margin-left: 10px;" >News</h3>
                              </div></div>
                              <div class="boxs feature">
                                    <div class="tab-info"><a href="" ><h4>MBGN</h4></a>
                                      <p>Its was a great event that occured in silverbird cinema ground hall <a href="news.html">Continue</a></p>
                                    </div>
                                    <div class="tab-info"><a href="" ><h4>Stutern</h4></a>
                                      <p>Its was a great event that occured in silverbird cinema ground hall <a href="">Continue</a></p>
                                    </div>
                                    <div class="tab-info"><a href="" ><h4>Ushering</h4></a>
                                    <p>Its was a great event that occured in silverbird cinema ground hall <a href="">Continue</a></p>
                                    </div>
                                    <div class="tab-info"><a href="" ><h4>MBGN</h4></a>
                                      <p>Its was a great event that occured in silverbird cinema ground hall <a href="">Continue</a></p>
                                    </div>  
                              </div>
                      </div>
        </div>
    </div>
</div>
</div>
<div style="margin-top:50px;" class="col-sm-5">
                   <div class="boxs">
                       <div class="singletab">
                           <h3 style="color:#fff; font-family:ocraext; font-size: 30px; margin-left: 10px;" >Post Jobs</h3>
                         </div></div>
                         <div class="boxs feature">
                             <form action="." method="post" id="jobsform" data-lga-url="{% url 'Home:load_lga' %}" novalidate>
                                {% csrf_token %}
                                   <div class="form-group">
                                       {{form.Job_title|as_crispy_field}}
                                   </div>
<div class="form-group">
    <input type="hidden" name="Job_author" value="{{request.user.pk}}">
</div>
              <label class="tab-info">Job Location</label>
                                    <div class="form-group">
                                            
                                            <div class="col-md-6">
                                              {{form.state|as_crispy_field}}
                                            </div>

                                            <div class="col-md-6">
                                              {{form.lga|as_crispy_field}}
                                            </div>
                                            <div class="col-md-4">
                                              {{form.town|as_crispy_field}}
                                            </div>                                                  
                                            <div class="col-md-8">
                                              {{form.street_address|as_crispy_field}}
                                            </div>                                                
                                            
                                    </div>
                                     
                                    <div class="form-group">
                                           {{form.gender|as_crispy_field}}
                                        </div>
                  <label class="tab-info">Specification</label>
                                        <div class="form-group">
                                                {{form.height|as_crispy_field}}
                                                
                                        </div>

                                        <div class="form-group">
                                          {{form.Job_Description|as_crispy_field}}
                                        </div>

                                        <div class="form-group">
                                          {{form.personal_note|as_crispy_field}}
                                        </div>
                                       
                                        <center><button style="margin-bottom:20px; background:goldenrod;" type="submit" class="btn">SUBMIT</button></center>
                              </form>
                          </div>
                    
</div>
<div class="container app">
        <CENTER><P style="font-size:30px;  font-family: ocraext; font-weight: bold; text-shadow: 2px 2px rgb(121, 120, 120);">TOP PICKS</P></CENTER>
        <center>
          <div class="row">
            <div class="col-xs-11 col-md-10 col-centered">
              <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-col">
                          <div class="block yellow img-responsive">
                            <a href=""><img src="{% static 'img/darcy.jfif' %}" style="width:226px;"></a>
                          </div>
                        </div>
                      </div>
      
                  <div class="item">
                      <div class="carousel-col">
                        <div class="block yellow img-responsive">
                          <img src="{% static 'img/body.jpg' %}" style="width:226px;">
                        </div>
                      </div>
                    </div>
      
      
                  <div class="item">
                      <div class="carousel-col">
                        <div class="block yellow img-responsive">
                          <img src="{% static 'img/body3.jpg' %}" style="width:226px;">
                        </div>
                      </div>
                    </div>
      
                  <div class="item">
                    <div class="carousel-col">
                      <div class="block yellow img-responsive">
                        <img src="{% static 'img/body3.jpg' %}" style="width:226px;">
                      </div>
                    </div>
                  </div>
      
                  <div class="item">
                      <div class="carousel-col">
                        <div class="block yellow img-responsive">
                          <img src="{% static 'img/body3.jpg' %}" style="width:226px;">
                        </div>
                      </div>
                    </div>
      
                    <div class="item">
                      <div class="carousel-col">
                        <div class="block yellow img-responsive">
                          <img src="{% static 'img/nike00.jpg' %}" style="width:226px;">
                        </div>
                      </div>
                    </div>
                </div>
        
                <!-- Controls -->
                <div class="left carousel-control">
                  <a href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                </div>
                <div class="right carousel-control">
                  <a href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
        
            </div>
          </div>
        </center>  
        </div> 

{% endblock %}
{% block javascripts %}
  <script src="{% static 'jq/jquery.js' %}"></script>
  <script>
    $("#id_state").change(function () {
      var url = $("#jobsform").attr("data-lga-url");  // get the url of the `load_cities` view
      var stateID = $(this).val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': stateID       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_lga").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}