{% extends 'home/base.html'%}

{% block content %}
<br><br><br>
<div class="homebox"></div>
<br>
<br>
<div>
  <div class="row">
    <div class="col-md-9">
          <div class="col-md-12">
            <div class="boxs">
            <div class="singletab">
                <h3 style="color:#fff; font-family:ocraext; font-size: 30px; " >Gigs Applications</h3>
              </div></div>
              <div class="boxs feature">
                {% for ap in appl%}
              <div class="tab-info">
                  <h4>{{ap.Job_title}}</h4>
                  {% if ap.status is 1%}
                  <h4>Status:<span class="text-success">Shortlisted</span></h4>
                  {% elif ap.status is 2%}
                  <h4>Status:<span class="text-danger">Declined</span></h4>
                  {% else %}
                  <h4>Status:<span class="text-info">Received</span></h4>
                  {% endif %}
              </div>
              {% endfor %}
            </div>
              
        </div>
        <div class="col-md-12">
            <div class="boxs">
                <div class="singletab">
                    <P style="color:#fff; font-family:ocraext; font-size: 30px; margin-left: 10px;" >New Gigs</P>
                  </div>
            </div>
                  {% for jo in job%}
                  <div class="boxs">
                  <div class="tab-info">
                     <a href="{% url 'Home:jobdetails' pk=jo.pk%}" ><h4>{{jo.Job_title}}</h4></a>
                   <h4>{{jo.lga}}, {{jo.state}}</h4>
                   <p>{{jo.personal_note}}</p>
                  </div>
                </div>
                {% endfor %}
                      <center><ul class="pagination pagination-md ">
                          <li class="active"><a  href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                        </ul></center>
        </div>
    </div>
    <div class="col-md-3">
          <div class="col-md-12">
            <div class="boxs">
            <div class="singletab">
                <h3 style="color:#fff; font-family:ocraext; font-size: 30px; " >Featured Gigs</h3>
              </div></div>
              <div class="boxs feature">
                {% for job in Fjobs%}
              <div class="tab-info">
                  <a href="{% url 'Home:jobdetails' pk=job.jobs.pk%}" ><h4>{{job.jobs.Job_title}}</h4></a>
                  <h4>{{job.jobs.lga}}, {{job.jobs.state}}</h4>
                  <p>{{job.jobs.personal_note}}</p>
              </div>
              {% endfor %}
            </div>
              
        </div>
        <div class="col-sm-12">
          <div class="boxs">
              <div class="singletab">
                  <h3 style="color:#fff; font-family:ocraext; font-size: 30px; margin-left: 10px;" >Hot Gigs</h3>
                </div></div>
                <div class="boxs feature">
                	{% for job in hjobs %}
                      <div class="tab-info">
                        <a href="{% url 'Home:jobdetails' pk=job.jobs.pk%}" ><h4>{{job.jobs.Job_title}}</h4></a>
                         <h4>{{job.jobs.lga}}, {{job.jobs.state}}</h4>
                         <p>{{job.jobs.personal_note}}</p>
                      </div>
                    {% endfor %}
                </div>
          
        </div>

        <div class="col-sm-12">
            <div class="boxs">
                <div class="singletab">
                    <h3 style="color:#fff; font-family:ocraext; font-size: 30px; margin-left: 10px;" >News</h3>
                  </div></div>
                  <div class="boxs feature">
                        <div class="tab-info"><a href="" ><h4>MBGN</h4></a>
                          <p>Its was a great event that occured in silverbird cinema ground hall <a href="news.html">Continue</a></p>
                        </div>
                        <div class="tab-info"><a href="" ><h4>Stutern</h4></a>
                          <p>Its was a great event that occured in silverbird cinema ground hall <a href="">Continue</a></p>
                        </div>
                        <div class="tab-info"><a href="" ><h4>Ushering</h4></a>
                        <p>Its was a great event that occured in silverbird cinema ground hall <a href="">Continue</a></p>
                        </div>
                        <div class="tab-info"><a href="" ><h4>MBGN</h4></a>
                          <p>Its was a great event that occured in silverbird cinema ground hall <a href="">Continue</a></p>
                        </div>
                    
                  </div>
            
          </div>
    </div>
  </div>
</div>
<br>
{% endblock %}